language: android
jdk: oraclejdk8

sudo: false
env:
  global:
  - ANDROID_API_LEVEL=27
  - ANDROID_BUILD_TOOLS_VERSION=27.0.3
android:
  components:
  - tools
  - build-tools-$ANDROID_BUILD_TOOLS_VERSION
  - android-$ANDROID_API_LEVEL
  - extra-google-google_play_services
  - extra-google-m2repository
  - extra-android-m2repository
  - extra-android-support
  - sys-img-armeabi-v7a-google_apis-21
before_install:
- chmod +x gradlew
script:
- ./gradlew build check

deploy:
  provider: releases
  api_key:
    secure: ITZQt3x4dqzlZkQ06LcQrajgqmpQKthy/3n6qVdNYRFZtDIKzL55V0oTLiQMddVoN3MPQRxcOSy5VhoGuC/GRbgsVwuXL0X48sBkJsP/Pc47x9pnvYllOcN5cDzhEqyDEavUy1w6XQOJSrKP3PNi4ZNeyWc7fG8LcVq7xSv9UI8IU5AAlfnhvwZLD8swK2IhYfqOkN9DV5POYfYbeizCG2HxQX/dpj3jjrmsujUNoEOARcLLaK6l32hnEfNL5LROQY9uLndPnb9vN2XdfB3DPxmqD8xlSA39xdcPtptXc0D9yv5uccEOaccVdPWN7lVYY3RsSYwSl9t5ou8fg1awKq29fuyAgf3JsRdAdBSxoFITlqmto6Wxc7NpJrBT0Qf17pI0H40In2SDnHOEvZIZG0OtjLn2M5QFHBiCI5F4lXCteBS3/Oqge3IRYCaVxyGOP5AFF+6cGbzbDF86fVYJrZ7eYhxAxiIbFG8GRgxLuK86u1rm20KygpdeJSTqIQ9QtLiWwuPdONrXGeIqU8I/H9KYxSYhWkr/z6gnbA1kei2s1gy1uymhFxUtwcufygkHjvQvESnrPx3hRT8xAyMC6aG5dqxhxYm38UZhmBAOq7BCYuKh8Zoi23RHBt6bukc73HPDOikvU+MdOuTBLw44Iyg5uqW5vQEdgAK9rkqx2KI=
  file: app/build/outputs/apk/SearchMovies*.apk
  file_glob: true
  skip_cleanup: true
  on:
    tags: true
    all_branches: true
    repo: abbas-oveissi/SearchMovies

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - $HOME/.android/build-cache
